<div class="container mt-2" >
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active  fs-4"><a>Admin</a></li>
      <li class="breadcrumb-item fs-4" >Eventos registrados</li>
    </ol>
  </nav>
        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 ">
          <div class=" col" *ngFor = "let i of events" >
              <div class="card">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{i.img}}" class="img-fluid rounded-start">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="d-flex">
                        <div class="p-2 fw-bold fs-5">{{i.nombre}}</div>
                        <div class="ms-auto  p-2 fst-italic fw-light text-uppercase">{{i.fecha}}</div>
                      </div>

                      <div class="d-flex flex-column">
                        <div class="p-1"><strong>Descripcion: </strong>{{i.descripcion}}</div>
                      </div>

                      <div class="d-flex flex-column">
                        <div class="p-1"><strong>Tipo: </strong>{{i.tipo}}</div>
                        <div class="p-1"><strong>Invitado: </strong>{{i.invitado}}</div>
                        <div class="p-1"><strong>Departamento: </strong>{{i.departamento}}</div>
                        <div class="p-1"><strong>Lugar: </strong>{{i.lugar}}</div>
                      </div>
                    </div>



                    <div class="d-flex flex-row-reverse">
                      <div class="p-2 fw-bold"><button type="button" class="btn btn-outline-success"
                        [routerLink]="['/admin/edit-events']" [queryParams]="{id: i.idEvents}">
                        <i class="bi bi-pen"></i> Editar</button>
                      </div>

                      <div class="p-2 fw-bold">
                        <button type="button" class="btn btn-outline-danger" (click)="eliminarEventoPorId(i.idEvents)">
                          <i class="bi bi-trash"></i> Eliminar
                        </button>
                      </div>
                    </div>










                    </div>





              </div>
            </div>
          </div>
        </div>
</div>


