.img {


  background-image: url("https://res.cloudinary.com/dxrn8ww6t/image/upload/v1687475179/evetns_gf0bns.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
