.img {
  background-image: url("https://res.cloudinary.com/dxrn8ww6t/image/upload/v1670919112/MongoDB/libro_s850l8.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
