<div class="sliderbar">
  <h1 class="fs-4 fw-semibold text-center mt-2  ">Panel administrativo</h1>
  <li class="border-top my-3"></li>

  <div class="row g-0">
    <button mat-button routerLink="/admin"><i class="bi bi-house fs-5"></i> Inicio</button>
    <button mat-button routerLink = "/admin/perfil" ><i class="bi bi-person fs-5"></i> Perfil</button>
  <button mat-button routerLink = "/admin/view-users"><i class="bi bi-people fs-5"></i> Usuarios</button>

  <button mat-button [matMenuTriggerFor]="books"><i class="bi bi-journal fs-5"></i> Libros</button>
  <mat-menu #books="matMenu" xPosition="before">
    <button mat-menu-item routerLink = "/admin/view-books">Libros registrados</button>
    <button mat-menu-item routerLink = "/admin/add-books">Agregar nuevo libro</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="events"><i class="bi bi-calendar-event fs-5"></i> Eventos</button>
  <mat-menu #events="matMenu" xPosition="before">
    <button mat-menu-item routerLink = "/admin/view-events">Eventos registrados</button>
    <button mat-menu-item routerLink = "/admin/add-events"> Agregar nuevo evento</button>
  </mat-menu>

  <button mat-button ><i class="bi bi-bag-check fs-5"></i> Ventas</button>


  <button mat-button ><i class="bi bi-bar-chart-line fs-5"></i> Estadisticas</button>



</div>
</div>
