.img {


  background-image: url("https://res.cloudinary.com/dxrn8ww6t/image/upload/v1670916672/MongoDB/Pedro_Urvi_l1ay8f.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
