
<div class="container  mb-3">
  <div class="row ">
    <div class="col-md-7 position-static0 d-block rounded-2 shadow" style="border:1px solid rgb(114, 103, 103);">
      <div class="container mt-3">
        <h1 class="fs-2 text-center pt-6 mt-5 mb-4  lh-1 fw-bold text-dark stil">Editar libro</h1>
      <form (ngSubmit)="actualizarLibro()">

        <div class="form-floating mb-3 " >

          <input type="username" class=" form-control rounded-1 px-4 "  required [(ngModel)] = "libro.idBooks" name="idBooks" readonly>
          <label for="floatingInput" class="fs- mt-x5">Numero del libro</label>
      </div>
          <div class="form-floating mb-3 " >
            <input type="username" class=" form-control rounded-1 px-4 mb-3  "  required [(ngModel)] = "libro.nombre" name="nombre" >
            <label for="floatingInput" class="fs-5 mt-x">Nombre del libro</label>
        </div>

        <div class="col-md-12 mb-3">
          <fieldset>
            <h3>Sinopsis</h3>
            <textarea name="message" rows="6" class="form-control"  placeholder="Your message..." required="" required [(ngModel)] = "libro.sinopsis" name="sinopsis"></textarea>
          </fieldset>
        </div>


        <div class="form-floating mb-3">
          <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.img" name="img" >
          <label for="floatingInput" class="fs-5 mt-x">Imagen del libro</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class=" form-control rounded-1 px-4" required [(ngModel)] = "libro.autor" name="autor" >
        <label for="floatingInput" class="fs-5 mt-x">Autor del libro</label>
    </div>



      <div class="row ">
        <div class="col ">
          <div class="  form-floating mb-3">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.editorial" name="editorial" >
            <label for="floatingInput" class="fs-5 mt-x">Editorial</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.publicacion" name="publicacion" >
            <label for="floatingInput" class="fs-5 mt-x">Año de publicacion</label>
            </div>
        </div>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.paginas" name="paginas" >
        <label for="floatingInput" class="fs-5 mt-x">Total paginas</label>
      </div>

      <div class="row">

        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.formato" name="formato" >
            <label for="floatingInput" class="fs-5 mt-x">Formato del libro</label>
          </div>
        </div>


        <div class="col">
          <div class="form-floating mb-3">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.formato" name="formato" >
            <label for="floatingInput" class="fs-5 mt-x">Formato del libro</label>
          </div>
        </div>
      </div>



      <div class="form-floating mb-3">
        <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.genero" name="genero" >
        <label for="floatingInput" class="fs-5 mt-x">Genero del libro</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.documento" name="documento" >
        <label for="floatingInput" class="fs-5 mt-x">Archivo</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.idioma" name="idioma" >
        <label for="floatingInput" class="fs-5 mt-x">Idioma del libro</label>
      </div>

      <div class="row">
        <div class=" col">
          <div class="form-floating  ">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.costo" name="costo" >
            <label for="floatingInput" class="fs-5 mt-x">Costo del libro</label>
        </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input type="text" class=" form-control rounded-1 px-4"  required [(ngModel)] = "libro.estado" name="estado" >
            <label for="floatingInput" class="fs-5 mt-x">Estado del libro</label>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button class="btn btn-success  signup1 w-100 mb-2 btn btn-lg  text-dark">
          Guardar
        </button >
          <button  class="btn btn-outline-danger  signup2 w-100 mb-2 btn btn-lg text-dark " routerLink = "/admin/view-books">Cancelar</button>
      </div>
      </form>

          <hr class="my-4">
      </div>
    </div>

    <div class="col-md-5">
      <div class="card card-cover h-100 overflow-hidden text-white  rounded-3 shadow-lg img">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-6 mt-5 mb-4 display-6 lh-1 fw-bold text-dark text-center" style="letter-spacing: 4px;"><b>La quinta esfera</b></h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="" alt="" width="" height="" class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small></small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small></small>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>








