<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 py-2">
              <div class="card">
                  <div class="card-header bg-danger  btn-round">
                      <h2 class="card-title text-white active" >Perfil del administrador</h2>
                      <p class="card-category text-white mute">Verifique sus datos</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre" disabled>
                                {{user.nombuser}}
                              </mat-form-field>
                          </div>


                              <div class="col-md-3">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Apellido"disabled>
                                  {{user.apelliuser}}
                                </mat-form-field>
                            </div>

                            <div class="col-md-1">

                            </div>
                              <div class="col-md-4">

                              </div>
                          </div>


                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Correo" type="text"disabled>
                                  {{user.emailuser}}
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width" >
                                  <input matInput placeholder="Telefono" type="text"disabled>
                                  {{user.telefuser}}
                                </mat-form-field>
                              </div>
                          </div>



                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width" >
                                <input matInput placeholder="Domicilio"disabled >
                                {{user.perfiluser}}
                              </mat-form-field>
                          </div>


                              <div class="col-md-3">

                            </div>

                            <div class="col-md-1">

                            </div>
                              <div class="col-md-4">

                              </div>
                          </div>





                          <button mat-raised-button type="submit" class="float-end btn btn-danger pull-right mute w-25 py-1">Editar Perfil</button>

                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile text-center">
                  <div class="card-avatar">
                      <div class="figure">
                          <img class="img rounded-circle" src="{{user.img}}" alt="" width="180" height="180px" />
                      </div>
                  </div>
                  <div class="card-body">
                      <h5 class="card-category"><p class="fw-lighter  disabled">  {{user.authorities[0].authority}}</p></h5>
                      <h4 class="card-title">{{user.nombuser}}</h4>
                      <p class="card-description">
                        "Como administrador de la web, eres el responsable de mantener el sitio en funcionamiento y brindar una excelente experiencia al usuario. ¡Tu trabajo es crucial para el éxito de nuestra presencia en línea!"                      </p>
                      <a  class="btn btn-danger w-50 rounded-5">Editar</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>







